{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}
    <div class="d-flex flex-column justify-content-center align-items-center vh-100 ms-4 me-4">
        <img src="/static/images/url-shortener.png" alt="url-shortener" class="img-fluid">
        <h1 class="text-center">Flask URL Shortener</h1>
        <form action="" method="post">
            <div class="mt-5 d-flex flex-wrap justify-content-center align-items-center gap-2">
                <input type="text" name="input-url" id="input-url" placeholder="https://" class="col form-control form-control-lg" {% if input_url %} value="{{ input_url }}" style="cursor: not-allowed;" readonly {% endif %} required>
                {% if not input_url %} <button type="submit" class="btn btn-lg btn-primary rounded-3">Short it</button> {% endif %}
            </div>
            <p class="mt-3 text-secondary text-center "><span class="text-white-50">Flask URL Shortener</span> is a free tool to shorten URLs and generate short links. <span class="text-white-50">Flask URL Shortener</span> allows to create a shortened link making it easy to share.</p>
        </form>
        {% if output_url %}
        <div class="mt-4 d-flex justify-content-center align-items-center p-2 rounded rounded-3" style="background-color: #4e4f50">
            <div class="p-2 gap-3 rounded d-flex flex-row align-items-center">
                <h4 class="p-0 m-0">
                    <span id="protocolHostPort">https://jsWillReplaceThis/</span><span id="output-url-span">{{ output_url }}</span>
                </h4>
                <button class="btn btn-secondary d-flex flex-row justify-content-center align-items-center" onclick="copyTextToClipboard()">
                    <img src="/static/images/copy.png" alt="reroll" style="width: 32px; height: 32px;"><span id="copy-btn-span" class="fw-semibold">Copy</span>
                </button>
            </div>
        </div>
        <div class="mt-3 d-flex flex-wrap justify-content-center align-items-center w-50 gap-3">
            {% if reroll %}
                <button class="btn btn-success rounded-3 ps-3 pe-3 fw-bold" onclick="rerollPost()" id="reroll-btn">
                    <img src="/static/images/roll.png" alt="reroll" style="width: 32px; height: 32px;"> <span id="reroll-btn-span">Reroll</span>
                </button>
            {% endif %} 
            <a class="btn btn-info rounded-3 ps-3 pe-3 fw-bold" onclick="window.location.href=`/preview/${document.getElementById('output-url-span').innerText}`">
                <img src="/static/images/statistics.png" alt="statistics" style="width: 32px; height: 32px;"> Preview
            </a>
            <a class="btn btn-primary rounded-3 ps-3 pe-3 fw-bold" href="/">
                <img src="/static/images/url.png" alt="reroll" style="width: 32px; height: 32px;"> Short new link
            </a>
        </div>
        {% endif %}     
    </div>
{% endblock body %}
